.dscw-countdown-instance {
    text-align: center;
    padding: 2px;
    border-radius: 2px;
}

.dscw-countdown-timer-box-container {
    border-radius: 3px;
}

.dscw-countdown-timer-box {
    font-weight: bold;
}

.dscw-countdown-timer-box-items {
    display: inline-block;
    margin: 5px;
}

/* ============ Themes ============ */
.dscw-countdown-theme-inner {
    padding: 10px 7px 0 7px;
    border-radius: 5px;
}

/* Light Theme */
.dscw-countdown-theme-light {
    color: #086788;
}

.dscw-countdown-theme-light .dscw-countdown-theme-inner {
    background-color: #fafafa;
    border: solid 3px #06aed5;
}

.dscw-countdown-theme-light .dscw-countdown-expired-text {
    color: #dd1c1a;
}

/* Dark Theme */
.dscw-countdown-theme-dark {
    color: #fafafa;
}

.dscw-countdown-theme-dark .dscw-countdown-theme-inner {
    background-color: #0c0c0c;
    border: solid 3px #fafafa;
}

.dscw-countdown-theme-dark .dscw-countdown-expired-text {
    color: #dd1c1a;
}